<header>
		<div class="has-text-centered"><!--เข้าไปใน bluma สำหรับให้อยู่ตรงกลาง class center-->
			<img src="/assets/images/logo.png" alt="" width="145" height="auto"> <!--img src เป็นการใส่รูปภาพ width ความกว้าง height ความสูง-->
		</div>
		<nav class="navbar-tabs">
			<a href="#" class="navbar-item">WORK1</a>
			<a href="#" class="navbar-item">WORK2</a>
			<a href="#" class="navbar-item">WORK3</a>
			<a href="#" class="navbar-item">WORK4</a>
			<a href="#" class="navbar-item">WORK5</a>
			<a href="#" class="navbar-item">WORK6</a>
			<a href="#" class="navbar-item">WORK7</a>
			<a href="#" class="navbar-item">WORK8</a>
		</nav><!--nav เป้นคำสั่งให้มีเมนูบาร์ navigation bars #ต้องใส่ลิงค์แต่ใส่ไว้เพื่อเวลากดแล้วมันจะไม่ไปไหน -->
		<!-- เขียนแบบcss class มัยจะทำให้selectได้ง่ายขึ้น ดอท คือแอททริบิวclass-->
	</header>